<?xml version="1.0" encoding="utf-8" ?>
<root>
	<ItemMap id="2001" count="10"/>
	<ItemMap id="2002" count="20"/>

	<Char charid="1" hp="100" hpMax="150" speed="10" speedMax="15" damage="50" damageMax="80"/>
	<Char charid="2" hp="100" hpMax="150" speed="10" speedMax="15" damage="50" damageMax="80"/>
	<Char charid="3" hp="100" hpMax="150" speed="10" speedMax="15" damage="50" damageMax="80"/>
</root>